<section class="et-hero-tabs">
  <h1>CMS</h1>
  <h3>ContentNinja</h3>
  <div class="et-hero-tabs-container">
    <a class="et-hero-tab" href="/admin/">Contentlist</a>
    <a class="et-hero-tab" href="/admin/pages.html">Pagelist</a>
    <a class="et-hero-tab" href="/admin/menu.html">Edit Menu</a>
    <a class="et-hero-tab" href="/">Livepage</a>
    <span class="et-hero-tab-slider"></span>
  </div>
</section>
