<!DOCTYPE html>
<html lang="en">
<head>
  {% include "head.tmpl" %}
</head>
<body>
  <div class="grid-container">
    <div class="header">
      {% include "header.tmpl" %}
    </div>

    <div class="footer">
      {% include "footer.tmpl" %}
    </div>

    <div class="content">
      <div class="ce-example__content _ce-example__content--small">
        <div id="editorjs">
          <h4>Contentlist:</h4>
          <div id="myData">
            <table id="myTableData">
              <thead>
                <tr style="background-color: #300; color: white;">
                  <td style="width:200px;"> Autor</td>
                  <td style="width:300px;">ID</td>
                  <td style="width:300px;">Title</td>
                  <td style="width:150px;">Type</td>
                  <td style="width:100px;">Editor</td>
                  <td style="width:100px;">Preview</td>
                  <td style="width:100px;">Metadata</td>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="aside">
      {% include "aside.tmpl" %}
    </div>

  </div>
{% include "table_js.tmpl" %}
</body>
</html>
