<!DOCTYPE html>
<html lang="en">
<head>
  {% include "head.tmpl" %}
</head>
<body>
  <div class="grid-container">
    <div class="header">
      {% include "header.tmpl" %}
    </div>

    <div class="footer">
      {% include "footer.tmpl" %}
    </div>

    <div class="content">
      <div class="ce-example__content _ce-example__content--small">
        <div id="metaformd">
          <form id="metaform" action="{{ apiurl }}/api/v1/metadata" METHOD="PUT">
              <h3>Metadaten ändern</h3>
              <div id="metaformdata"></div>
              <button type="reset">Eingaben zurücksetzen</button>
              <button type="button" onclick="sendForm();">Eingaben absenden</button>
              <span id="saved" style="color: #f00;">Gespeichert</span>
          </form>
        </div>
      </div>
    </div>

    <div class="aside">
      {% include "aside.tmpl" %}
    </div>
  </div>

  </div>
  <script>
  $("#saved").delay(1).fadeOut(1);

  function sendForm(){
    var frm = $("#metaform");
    var data = JSON.stringify(frm.serializeArray());
    console.log("Data from form: " + data);
    let url = '{{ apiurl }}/api/v1/metadata';
    $.ajax({
        url: url,
        type: 'PUT',
        contentType: 'application/json; charset=utf-8',
        data: data,
        success: function (response) {
            $("#saved").delay(20).fadeIn(500);
            $("#saved").delay(2000).fadeOut(500);
            // console.log("Meta Update per PUT: " + response );
        },
        error: function (xhr) {
            alert('Error: There was some error while posting. Please try again later.');
        }
    });
  }
  const capitalize = (s) => {
    if (typeof s !== 'string') return ''
    return s.charAt(0).toUpperCase() + s.slice(1)
  }
  function dataTable(data) {
    var newRowContent = "";
    for ( [k,v] of Object.entries(data)) {
      console.log("k: " + k);
        newRowContent = '<div style="float: left; width: 100px;">'+capitalize(k)+': </div>';
        newRowContent += '<div style="float: left; width: 400px;"><input type="text" name="'+k+'" id="'+k+'" value="'+v+'" maxlength="50"></div>';
        newRowContent += '<div style="clear: both;"></div>';
        $("#metaformdata").append(newRowContent);
      // }
    }
  }
  async function fetchData() {
    let parts = window.location.pathname.split( '/' );
    let url = '{{ apiurl }}/api/v1/metadata/' + parts[3];
    return fetch(url)
      .then(data => {return data.json() })
      .then(res => { dataTable(res) })
  }
  fetchData()
  </script>
</body>
</html>
