<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin Pageedit - CMS 🤩🧦🤨 example</title>
  <link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet">
  <link href="/static/assets/demo.css" rel="stylesheet">
  <script src="/static/assets/json-preview.js"></script>
  <script   src="https://code.jquery.com/jquery-3.5.1.min.js"   integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="   crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/json2html/1.4.0/json2html.min.js"></script>
  <link href="/static/assets/main.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<body>
  <div class="grid-container">
    <div class="header">
      {% include "header.tmpl" %}
    </div>

    <div class="footer">
      {% include "footer.tmpl" %}
    </div>

    <div class="content">
      <div class="ce-example__content _ce-example__content--small">
        <h3>Edit Page</h3>
        <div id="metaformd">
        <form id="metaform" action="{{ apiurl }}/api/v1/metadata" METHOD="PUT">
            <div id="metaformdata"></div>
            <div id="childlist"></div>
            <div id="addChildButton"></div>
            <button type="reset">Eingaben zurücksetzen</button>
            <button type="button" onclick="sendForm();">Eingaben absenden</button>
            <span id="saved" style="color: #f00;">Gespeichert</span>
        </form>
        </div>
      </div>
    </div>

    <div class="aside">
      {% include "aside.tmpl" %}
    </div>
  </div>

  </div>
  <script>
    $("#saved").delay(1).fadeOut(1);
    function sendForm(){
      var frm = $("#metaform");
      var data = JSON.stringify(frm.serializeArray());
      console.log("Data from form: " + data);
      let url = '{{ apiurl }}/api/v1/pages';
      $.ajax({
          url: url,
          type: 'PUT',
          contentType: 'application/json; charset=utf-8',
          data: data,
          success: function (response) {
              $("#saved").delay(20).fadeIn(500);
              $("#saved").delay(2000).fadeOut(500);
          },
          error: function (xhr) {
              alert('Error: There was some error while posting. Please try again later.');
          }
      });
    }
    const capitalize = (s) => {
      if (typeof s !== 'string') return ''
      return s.charAt(0).toUpperCase() + s.slice(1)
    }
    function addChild(childcounter) {
      newRowContent = '<div class="leg">';
      newRowContent += '<div style="float: left; width: 100px;">Child: </div>';
      newRowContent += '<div style="float: left; width: 600px;"><input type="text" name="childs" id="'+k+'" value="" mxlength="50">';
      newRowContent += '<input type="button" value="Up" class="up-button"/>';
      newRowContent += '<input type="button" value="Down" class="down-button"/>';
      newRowContent += '<input type="button" value="Delete" class="delete-button"/>';
      newRowContent += '</div>';
      newRowContent += '<div style="clear: both;"></div></div>';
      $("#childlist").append(newRowContent);
      childcounter++;
      $('.up-button').click(function(){
        $(this).parents('.leg').insertBefore($(this).parents('.leg').prev());
      });
      $('.down-button').click(function(){
        $(this).parents('.leg').insertAfter($(this).parents('.leg').next());
      });
      $('.delete-button').click(function(){
        $(this).parents('.leg').remove();
      });
      return childcounter;
    }
    function dataTable(data) {
      var newRowContent = "";
      var childcounter = 0;
      for ( [k,v] of Object.entries(data)) {
        if ( k.includes("childs") ) {
          console.log("Is Child field.");
          for ( child in v ) {
            console.log("Child: " + child + " " + v[child]);
            newRowContent = '<div class="leg">';
            newRowContent += '<div style="float: left; width: 100px;">'+capitalize(k)+childcounter+': </div>';
            newRowContent += '<div style="float: left; width: 600px;"><input type="text" name="'+k+'" id="'+k+'" value="'+v[child]+'" mxlength="50">';
            newRowContent += '<input type="button" value="Up" class="up-button"/>';
            newRowContent += '<input type="button" value="Down" class="down-button"/>';
            newRowContent += '<input type="button" value="Delete" class="delete-button"/>';
            newRowContent += '</div></div>';
            newRowContent += '<div style="clear: both;"></div>';
            $("#childlist").append(newRowContent);
            childcounter++;
          }
          newRowContent = '<div id="addchild" style="float: left; width: 100px;">Child: </div>';
          newRowContent += '<div style="float: left; width: 600px;"><input type="button" onclick="childcounter = addChild('+childcounter+');" name="addchild" id="addchild" value="hinzufügen" maxlength="50"></div>';
          newRowContent += '<div style="clear: both;"></div>';
          $("#addChildButton").append(newRowContent);
        } else {
          newRowContent = '<div style="float: left; width: 100px;">'+capitalize(k)+': </div>';
          newRowContent += '<div style="float: left; width: 600px;"><input type="text" name="'+k+'" id="'+k+'" value="'+v+'" mxlength="50"></div>';
          newRowContent += '<div style="clear: both;"></div>';
          $("#metaformdata").append(newRowContent);
        }
      }
      $('.up-button').click(function(){
        $(this).parents('.leg').insertBefore($(this).parents('.leg').prev());
      });
      $('.down-button').click(function(){
        $(this).parents('.leg').insertAfter($(this).parents('.leg').next());
      });
      $('.delete-button').click(function(){
        $(this).parents('.leg').remove();
      });
    }
    async function fetchData() {
      let parts = window.location.pathname.split( '/' );
      let url = '{{ apiurl }}/api/v1/pages/' + parts[3];
      return fetch(url)
        .then(data => {return data.json() })
        .then(res => { dataTable(res) })
    }
    fetchData()
  </script>
</body>
</html>
